@model Service.DTO.CheckpointDTO

<div class="modal-content">
    <div class="modal-header title-color">
        <button class="close exit-color" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Датчик №@Html.DisplayFor(model => model.ID)</h4>
    </div>
    <div class="modal-body title-details-color">
        <dl class="dl-horizontal">
            <dt>
                @Html.Label("IP-адрес")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IP)
            </dd>
            <dt>
                @Html.Label("Корпус")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Campus)
            </dd>
            <dt>
                @Html.Label("Этаж")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Row)
            </dd>
            @if (Model.Section != null)
            {
                <dt>
                    @Html.Label("Секция")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Section)
                </dd>
            }
            @if (Model.Classroom != null)
            {
                <dt>
                    @Html.Label("Аудитория")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Classroom)
                </dd>
            }
            <dt>
                @Html.Label("Описание")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.Label("Статус")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt>
                @Html.Label("Тип")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Type.Status)
            </dd>
            @if (Model.Admissions.ToList().Count > 0)
            {
                <dt>
                    @Html.Label("Разрешения")
                </dt>
                foreach (var item in Model.Admissions)
                {
                    <dd>
                        @Html.DisplayFor(modelItem => item.Description)
                        @Html.DisplayName(" для ")
                        @Html.DisplayFor(modelItem => item.Role)
                    </dd>
                }
            }
        </dl>
    </div>
</div>