@model IEnumerable<Service.DTO.CheckpointDTO>

<h2>Список датчиков</h2>
<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("IP-адрес")
        </th>
        <th>
            @Html.Label("Корпус")
        </th>
        <th>
            @Html.Label("Этаж")
        </th>
        <th>
            @Html.Label("Описание")
        </th>
        <th>
            @Html.Label("Статус")
        </th>
        <th>
            @Html.Label("Тип")
        </th>
        <th>
            @Html.Label("Разрешения")
        </th>
        <th>
            @Html.Label("Действия")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Campus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Row)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type.Status)
        </td>
        <td>
            @foreach (var i in item.Admissions)
            {
                <p>
                    @Html.DisplayFor(modelItem => i.Description)
                    @Html.DisplayName(" для ")
                    @Html.DisplayFor(modelItem => i.Role)
                </p>
            }
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.ID })
            @Html.ActionLink("Подробнее", "Details", new { id = item.ID })
            @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
        </td>
    </tr>
}
</table>