@model PagedList.IPagedList<Service.DTO.CheckpointDTO>
@using PagedList.Mvc;
<h2 class="title-color">Список датчиков</h2>
<div class="container" style="margin-bottom: 20px">
    @using (Ajax.BeginForm("Index", new AjaxOptions { HttpMethod = "POST" }))
    {
        <div>
            <input style="display: inline-block; margin-right: 10px" class="search-input form-control form-control-lg" type="text" name="query"
                   placeholder="Введите поисковый запрос..." autocomplete="off" />
            <input class="btn btn-default" type="submit" value="Поиск" />
        </div>

    }
    @if (ViewBag.Query != null)
    {
        <h2 class="title-color mt-5">Поиск по запросу: @ViewBag.Query</h2>
    }
</div>
@if (Model == null || Model.Count == 0)
{
    <p class="container">Ничего не найдено</p>
}
else
{
    <table class="table">
        <tr class="title-table-color">
            <th>
                @Html.Label("IP-адрес")
            </th>
            <th>
                @Html.Label("Корпус")
            </th>
            <th>
                @Html.Label("Этаж")
            </th>
            <th>
                @Html.Label("Секция")
            </th>
            <th>
                @Html.Label("Аудитория")
            </th>
            <th>
                @Html.Label("Описание")
            </th>
            <th>
                @Html.Label("Статус")
            </th>
            <th>
                @Html.Label("Тип")
            </th>
            <th>
                @Html.Label("Разрешения")
            </th>
            @if (User.Identity.IsAuthenticated && User.IsInRole("SSTU_Administrator"))
            {
                <th>
                    @Html.Label("Действия")
                </th>
            }
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.IP, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
                </td>
                <td>
                    @Html.ActionLink(item.Campus.ToString(), "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
                </td>
                <td>
                    @Html.ActionLink(item.Row.ToString(), "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
                </td>
                <td>
                    @Html.ActionLink(item.Section.ToString(), "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
                </td>
                <td>
                    @if (item.Classroom != null)
                    {
                        @Html.ActionLink(item.Classroom.ToString(), "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
                    }
                    else
                    {
                        @Html.ActionLink("-", "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
                    }
                </td>
                <td>
                    @Html.ActionLink(item.Description, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
                </td>
                <td>
                    @Html.ActionLink(item.Status, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
                </td>
                <td>
                    @Html.ActionLink(item.Type.Status, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
                </td>
                <td>
                    @foreach (var element in item.Admissions)
                    {
                        <p>
                            @Html.ActionLink(element.Description + " для " + element.Role, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
                        </p>
                    }
                </td>
                @if (User.Identity.IsAuthenticated && User.IsInRole("SSTU_Administrator"))
                {
                    <td>
                        @Html.ActionLink("Редактировать", "Edit", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "link" })
                        @Html.ActionLink("Удалить", "Delete", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "link" })
                    </td>
                }
            </tr>
        }
    </table>
    <br />
    <div class="pagination-margin">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
}
@if (User.Identity.IsAuthenticated && User.IsInRole("SSTU_Administrator"))
{
    <p>
        @Html.ActionLink("Создать", "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-default button-color" })
    </p>
    @Html.ActionLink("Типы датчиков", "Index", "Type", routeValues: null, htmlAttributes: new { @class = "btn btn-default button-color" })
    @Html.ActionLink("Разрешения", "Index", "Admission", routeValues: null, htmlAttributes: new { @class = "btn btn-default button-color" })
}
<div id="dialog" class="modal fade">
    <div id="content" class="modal-dialog"></div>
</div>