@model IEnumerable<Domain.Core.Type>
<h2>Список типов</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Описание")
        </th>
        <th>
            @Html.Label("Статус")
        </th>
        <th>
            @Html.Label("Действия")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.ID })
            @Html.ActionLink("Подробнее", "Details", new { id = item.ID })
            @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
        </td>
    </tr>
}
</table>