@model IEnumerable<Domain.Core.Type>

<h2 class="title-color">Список типов</h2>

<table class="table">
    <tr class="title-table-color">
        <th>
            @Html.Label("Описание")
        </th>
        <th>
            @Html.Label("Статус")
        </th>
        <th>
            @Html.Label("Действия")
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.Description, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            </td>
            <td>
                @Html.ActionLink(item.Status, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "link" })
                @Html.ActionLink("Удалить", "Delete", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "link" })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Создать", "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-default button-color" })
</p>
<div id="dialog" class="modal fade">
    <div id="content" class="modal-dialog"></div>
</div>