@model Domain.Core.Admission

<h3 class="title-color">Вы действительно хотите удалить это?</h3>
<div>
    <dl class="dl-horizontal title-details-color">

        <dt>
            @Html.Label("Описание")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.Label("Роль")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default button-color" />
            @Html.ActionLink("Назад", "Index", null, htmlAttributes: new { @class = "btn btn-default button-color" })
        </div>
    }
</div>