@model sstu_nevdev.Models.IdentityViewModel

<h2 class="title-color">Добавить фотографию</h2>

@using (Html.BeginForm("Create", "Identity", FormMethod.Post, new { model = @Model, enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(x => x.ID)
        @Html.HiddenFor(x => x.GUID)
        <div class="form-group">
            @Html.LabelFor(model => model.GUID, htmlAttributes: new { @class = "control-label col-md-2 title-table-color" })
            <div class="col-md-10">
                @Html.DisplayTextFor(model => model.GUID)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Изображение", htmlAttributes: new { @class = "control-label col-md-2 title-table-color" })
            <label aria-describedby="imageBlock" for="images" class="btn btn-primary images-md">
                <input class="form-control" id="images" type="file" accept="image/png, image/jpeg"
                       onchange="$('#upload-file-info').html($(this).val());" name="FileData">
                <span>Добавить фотографию</span>
            </label>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-primary" />
                @Html.ActionLink("Вернуться", "Users", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}