@model PagedList.IPagedList<Service.DTO.IdentityDTO>
@using PagedList.Mvc;
<h2 class="title-color">Список пользователей</h2>
<div class="container" style="margin-bottom: 20px">
    @using (Ajax.BeginForm("Index", new AjaxOptions { HttpMethod = "POST" }))
    {
        <div>
            <input style="display: inline-block; margin-right: 10px" class="search-input form-control form-control-lg" type="text" name="query"
                   placeholder="Введите поисковый запрос..." autocomplete="off" />
            <input class="btn btn-default" type="submit" value="Поиск" />
        </div>

    }
    @if (ViewBag.Query != null)
    {
        <h2 class="title-color mt-5">Поиск по запросу: @ViewBag.Query</h2>
    }
</div>
@if (Model == null || Model.Count == 0)
{
    <p class="container">Ничего не найдено</p>
}
else
{
    <table class="table">
        <tr class="title-table-color">
            <th>
                @Html.Label("GUID")
            </th>
            <th>
                @Html.Label("Имя")
            </th>
            <th>
                @Html.Label("Фамилия")
            </th>
            <th>
                @Html.Label("Отчество")
            </th>
            <th>
                @Html.Label("Город")
            </th>
            <th>
                @Html.Label("Телефон")
            </th>
            <th>
                @Html.Label("Email")
            </th>
            <th>
                @Html.Label("Институт")
            </th>
            <th>
                @Html.Label("Группа")
            </th>
            <th>
                @Html.Label("Статус")
            </th>
            <th>
                @Html.Label("Роль")
            </th>
            @if (User.Identity.IsAuthenticated && (User.IsInRole("SSTU_Deanery") || User.IsInRole("SSTU_Administrator")))
            {
                <th>
                    @Html.Label("Действия")
                </th>
            }
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.GUID, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Name))
                    {
                        @Html.ActionLink(item.Name, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
                    }
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Surname))
                    {
                        @Html.ActionLink(item.Surname, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
                    }
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Midname))
                    {
                        @Html.ActionLink(item.Midname, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
                    }
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.City))
                    {
                        @Html.ActionLink(item.City, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
                    }
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Phone))
                    {
                        @Html.ActionLink(item.Phone, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
                    }
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Email))
                    {
                        @Html.ActionLink(item.Email, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
                    }
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Department))
                    {
                        @Html.ActionLink(item.Department, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
                    }
                </td>
                <td>
                    @if (item.Group != null)
                    {
                        @Html.ActionLink(item.Group, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
                    }
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Status))
                    {
                        @Html.ActionLink(item.Status, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
                    }
                </td>
                <td>
                    @Html.ActionLink(item.Role, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
                </td>
                @if (User.Identity.IsAuthenticated && (User.IsInRole("SSTU_Deanery") || User.IsInRole("SSTU_Administrator")))
                {
                    <td>
                        @Html.ActionLink("Редактировать", "Edit", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "link" })
                        @Html.ActionLink("Удалить", "Delete", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "link" })
                    </td>
                }
            </tr>
        }
    </table>
    <br />
    <div class="pagination-margin">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
}
@if (User.Identity.IsAuthenticated && (User.IsInRole("SSTU_Deanery") || User.IsInRole("SSTU_Administrator")))
{
    <p>
        @Html.ActionLink("Список пользователей без фотографии", "Users", routeValues: null, htmlAttributes: new { @class = "btn btn-default button-color" })
    </p>
}
<div id="dialog" class="modal fade">
    <div id="content" class="modal-dialog"></div>
</div>