@model IEnumerable<Service.DTO.IdentityDTO>

<h2>Список пользователей</h2>
<p>
    @Html.ActionLink("Создать", "Create", routeValues: null, htmlAttributes: new { @class = "link" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GUID)
        </th>
        <th>
            @Html.Label("Имя")
        </th>
        <th>
            @Html.Label("Фамилия")
        </th>
        <th>
            @Html.Label("Отчество")
        </th>
        <th>
            @Html.Label("Пол")
        </th>
        <th>
            @Html.Label("День рождение")
        </th>
        <th>
            @Html.Label("Страна")
        </th>
        <th>
            @Html.Label("Город")
        </th>
        <th>
            @Html.Label("Телефон")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.Label("Факультет")
        </th>
        <th>
            @Html.Label("Группа")
        </th>
        <th>
            @Html.Label("Статус")
        </th>
        <th>
            @Html.Label("Роль")
        </th>
        <th>
            @Html.Label("Действия")
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.GUID, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            </td>
            <td>
                @Html.ActionLink(item.Name, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            </td>
            <td>
                @Html.ActionLink(item.Surname, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            </td>
            <td>
                @Html.ActionLink(item.Midname, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            </td>
            <td>
                @if (item.Gender)
                {
                    @Html.ActionLink("Мужской", "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
                }
                else
                {
                    @Html.ActionLink("Женский", "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
                }
            </td>
            <td>
                @Html.ActionLink(Html.DisplayFor(modelItem => item.Birthdate).ToString(), "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            </td>
            <td>
                @Html.ActionLink(item.Country, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            </td>
            <td>
                @Html.ActionLink(item.City, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            </td>
            <td>
                @Html.ActionLink(item.Phone, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            </td>
            <td>
                @Html.ActionLink(item.Email, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            </td>
            <td>
                @Html.ActionLink(item.Department, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            </td>
            <td>
                @Html.ActionLink(item.Group, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            </td>
            <td>
                @Html.ActionLink(item.Status, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            </td>
            <td>
                @Html.ActionLink(item.Role, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "link" })
                @Html.ActionLink("Удалить", "Delete", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "link" })
            </td>
        </tr>
    }
</table>
<div id="dialog" class="modal fade">
    <div id="content" class="modal-dialog"></div>
</div>