@model IEnumerable<Domain.Core.User>

<h2>Пользователи из 1С</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GUID)
        </th>
        <th>
            @Html.Label("Имя")
        </th>
        <th>
            @Html.Label("Фамилия")
        </th>
        <th>
            @Html.Label("Отчество")
        </th>
        <th>
            @Html.Label("Пол")
        </th>
        <th>
            @Html.Label("День рождение")
        </th>
        <th>
            @Html.Label("Страна")
        </th>
        <th>
            @Html.Label("Город")
        </th>
        <th>
            @Html.Label("Телефон")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.Label("Факультет")
        </th>
        <th>
            @Html.Label("Группа")
        </th>
        <th>
            @Html.Label("Статус")
        </th>
        <th>
            @Html.Label("Роль")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.GUID, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.Name))
            {
                @Html.ActionLink(item.Name, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            }
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.Surname))
            {
                @Html.ActionLink(item.Surname, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            }
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.Midname))
            {
                @Html.ActionLink(item.Midname, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            }
        </td>
        <td>
            @if (item.Gender != null)
            {
                if ((bool)item.Gender)
                {
                    @Html.ActionLink("Мужской", "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
                }
                else
                {
                    @Html.ActionLink("Женский", "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
                }
            }
        </td>
        <td>
            @Html.ActionLink(Html.DisplayFor(modelItem => item.Birthdate).ToString(), "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.Country))
            {
                @Html.ActionLink(item.Country, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            }
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.City))
            {
                @Html.ActionLink(item.City, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            }
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.Phone))
            {
                @Html.ActionLink(item.Phone, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            }
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.Email))
            {
                @Html.ActionLink(item.Email, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            }
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.Department))
            {
                @Html.ActionLink(item.Department, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            }
        </td>
        <td>
            @if (item.Group != null)
            {
                @Html.ActionLink(item.Group, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            }
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.Status))
            {
                @Html.ActionLink(item.Status, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
    </tr>
}
</table>