@model IEnumerable<Domain.Core.User>

<h2>Пользователи из 1С</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GUID)
        </th>
        <th>
            @Html.Label("Имя")
        </th>
        <th>
            @Html.Label("Фамилия")
        </th>
        <th>
            @Html.Label("Отчество")
        </th>
        <th>
            @Html.Label("Пол")
        </th>
        <th>
            @Html.Label("День рождение")
        </th>
        <th>
            @Html.Label("Страна")
        </th>
        <th>
            @Html.Label("Город")
        </th>
        <th>
            @Html.Label("Телефон")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.Label("Факультет")
        </th>
        <th>
            @Html.Label("Группа")
        </th>
        <th>
            @Html.Label("Статус")
        </th>
        <th>
            @Html.Label("Роль")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GUID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Midname)
        </td>
        <td>
            @if (item.Gender)
            {
                @Html.DisplayName("Мужской")
            }
            else
            {
                @Html.DisplayName("Женский")
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Group)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
    </tr>
}
</table>