@model Domain.Core.Activity

<h3>Вы действительно хотите удалить это?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Номер пользователя")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentityGUID)
        </dd>

        <dt>
            @Html.Label("Номер датчика")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckpointIP)
        </dd>

        <dt>
            @Html.Label("Дата")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.Label("Статус")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.Label("Режим")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mode)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>