@model sstu_nevdev.Models.ActivityDetailsViewModel

<h3 class="title-color">Вы действительно хотите удалить данное событие?</h3>
<dl class="dl-horizontal title-details-color">
    <dt>
        @Html.Label("Номер пользователя")
    </dt>
    <dd>
        @Html.ActionLink(Model.Activity.IdentityGUID, "Details", "Identity", new { id = Model.User.ID }, null)
    </dd>
    <dt>
        @Html.Label("Фамилия")
    </dt>
    <dd>
        @Html.ActionLink(Model.User.Surname, "Details", "Identity", new { id = Model.User.ID }, null)
    </dd>
    <dt>
        @Html.Label("Имя")
    </dt>
    <dd>
        @Html.ActionLink(Model.User.Name, "Details", "Identity", new { id = Model.User.ID }, null)
    </dd>
    <dt>
        @Html.Label("Институт")
    </dt>
    <dd>
        @Html.ActionLink(Model.User.Department, "Details", "Identity", new { id = Model.User.ID }, null)
    </dd>
    <dt>
        @Html.Label("Роль")
    </dt>
    <dd>
        @Html.ActionLink(Model.User.Role, "Details", "Identity", new { id = Model.User.ID }, null)
    </dd>

    <dt>
        @Html.Label("Номер датчика")
    </dt>
    <dd>
        @Html.ActionLink(Model.Activity.CheckpointIP, "Details", "Checkpoint", new { id = Model.Checkpoint.ID }, null)
    </dd>

    <dt>
        @Html.Label("Дата")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Activity.Date)
    </dd>

    <dt>
        @Html.Label("Статус")
    </dt>

    <dd>
        @if (Model.Activity.Status)
        {
            @Html.DisplayName("Успех")
        }
        else
        {
            @Html.DisplayName("Неудача")
        }
    </dd>

    <dt>
        @Html.Label("Режим")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Activity.Mode.Status)
    </dd>
</dl>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Удалить" class="btn btn-default button-color" />
        @Html.ActionLink("Назад", "Index", null, htmlAttributes: new { @class = "btn btn-default button-color" })
    </div>
}