@model Domain.Core.Activity
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Номер пользователя")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentityGUID)
        </dd>

        <dt>
            @Html.Label("Номер датчика")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckpointIP)
        </dd>

        <dt>
            @Html.Label("Дата")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.Label("Статус")
        </dt>

        <dd>
            @if (Model.Status)
            {
                @Html.DisplayName("Успех")
            }
            else
            {
                @Html.DisplayName("Неудача")
            }
        </dd>

        <dt>
            @Html.Label("Режим")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mode)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID })
    @Html.ActionLink("Назад", "Index")
</p>