@model sstu_nevdev.Models.ActivityDetailsViewModel

<div class="modal-content">
    <div class="modal-header title-color">
        <button class="close exit-color" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Событие №@Html.DisplayFor(model => model.Activity.ID)</h4>
    </div>
    <div class="modal-body title-details-color">
        <dl class="dl-horizontal">
            <dt>
                @Html.Label("Номер пользователя")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Activity.IdentityGUID)
            </dd>
            <dt>
                @Html.Label("Фамилия")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.Surname)
            </dd>
            <dt>
                @Html.Label("Имя")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.Name)
            </dd>
            <dt>
                @Html.Label("Институт")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.Department)
            </dd>
            <dt>
                @Html.Label("Роль")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.Role)
            </dd>
            <dt>
                @Html.Label("Номер датчика")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Activity.CheckpointIP)
            </dd>
            <dt>
                @Html.Label("Дата")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Activity.Date)
            </dd>
            <dt>
                @Html.Label("Статус")
            </dt>
            <dd>
                @if (Model.Activity.Status)
                {
                    @Html.DisplayName("Успех")
                }
                else
                {
                    @Html.DisplayName("Неудача")
                }
            </dd>
            <dt>
                @Html.Label("Режим")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Activity.Mode.Status)
            </dd>
        </dl>
    </div>
</div>