@model IEnumerable<Domain.Core.Activity>

<h2>Список событий</h2>
@if (User.Identity.IsAuthenticated && User.IsInRole("SSTU_Administrator"))
{
    <p>
        @Html.ActionLink("Создать", "Create", routeValues: null, htmlAttributes: new { @class = "link" })
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.Label("Номер пользователя")
        </th>
        <th>
            @Html.Label("Номер поста")
        </th>
        <th>
            @Html.Label("Дата")
        </th>
        <th>
            @Html.Label("Статус")
        </th>
        <th>
            @Html.Label("Режим")
        </th>
        @if (User.Identity.IsAuthenticated && User.IsInRole("SSTU_Administrator"))
        {
            <th>
                @Html.Label("Действия")
            </th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.IdentityGUID, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            </td>
            <td>
                @Html.ActionLink(item.CheckpointIP, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            </td>
            <td>
                @Html.ActionLink(item.Date.ToString(), "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            </td>
            <td>
                @if (item.Status)
                {
                    @Html.ActionLink("Успех", "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
                }
                else
                {
                    @Html.ActionLink("Неудача", "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
                }
            </td>
            <td>
                @Html.ActionLink(item.Mode.Description, "Details", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "item link" })
            </td>
            @if (User.Identity.IsAuthenticated && User.IsInRole("SSTU_Administrator"))
            {
                <td>
                @Html.ActionLink("Редактировать", "Edit", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "link" })
                @Html.ActionLink("Удалить", "Delete", routeValues: new { id = item.ID }, htmlAttributes: new { @class = "link" })
            </td>
            }
        </tr>
    }
</table>
<div id="dialog" class="modal fade">
    <div id="content" class="modal-dialog"></div>
</div>