@model IEnumerable<Domain.Core.Activity>
<h2>Список активностей</h2>
<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Номер пользователя")
        </th>
        <th>
            @Html.Label("Номер поста")
        </th>
        <th>
            @Html.Label("Дата")
        </th>
        <th>
            @Html.Label("Статус")
        </th>
        <th>
            @Html.Label("Режим")
        </th>
        <th>
            @Html.Label("Действия")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdentityGUID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckpointIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @if (item.Status)
            {
                @Html.DisplayName("Успех")
            }
            else
            {
                @Html.DisplayName("Неудача")
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mode)
        </td>

        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.ID })
            @Html.ActionLink("Подробнее", "Details", new { id=item.ID })
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID })
        </td>
    </tr>
}
</table>