<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSTU-Security</title>
    <link rel="shortcut icon" type="image/ico" href="@Url.Content("~/Content/assets/favicon.ico")">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SSTU", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Типы датчиков", "Index", "Type")</li>
                    <li>@Html.ActionLink("Разрешения", "Index", "Admission")</li>
                    <li>@Html.ActionLink("Датчики", "Index", "Checkpoint")</li>
                    <li>@Html.ActionLink("Пользователи", "Index", "Identity")</li>
                    <li>@Html.ActionLink("Пользователи 1C", "OneC", "Identity")</li>
                    <li>@Html.ActionLink("Действия", "Index", "Activity")</li>
                    <li>@Html.ActionLink("Журнал", "Index", "Audit")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <a class="dev-link" href="mailto:geerkus@gmail.com">nevdev</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
